Flask==3.1.0
Flask-Bcrypt==1.0.1
Flask-Cors==4.0.0
pymongo==4.12.0
python-dotenv==1.1.0
opencv-python==4.11.0.86
supervision==0.25.1
roboflow==1.1.61
cloudinary==1.44.0
scikit-learn==1.5.2
numpy==2.2.4
yagmail==0.15.293
langchain==0.3.7
langchain-google-genai==2.0.5
langgraph==0.2.45
APScheduler==3.10.4
gunicorn==21.2.0
Werkzeug==3.1.3
